<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.server.Database.mapper.ConsultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eight.server.Database.entity.Consult">
        <id column="recordno" property="recordno" />
        <result column="sno" property="sno" />
        <result column="cno" property="cno" />
        <result column="consulttime" property="consulttime" />
        <result column="consultresult" property="consultresult" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        recordno, sno, cno, consulttime, consultresult
    </sql>

</mapper>
